WindowsFormsApp3/WindowsFormsApp3/Connected Services/ServiceReference1/Authentication.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ICAN.ir/Farzin/WebServices/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ICAN.ir/Farzin/WebServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ICAN.ir/Farzin/WebServices/">
      <s:element name="SetLicenseKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ApplicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Challenge" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Random" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetLicenseKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetLicenseKeyResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strErrorMsg" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iErrorCode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strErrorMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ApplicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Challenge" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Random" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NativeID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Login2Result" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strErrorMsg" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iErrorCode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logout">
        <s:complexType />
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogoutResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strErrorMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SetLicenseKeySoapIn">
    <wsdl:part name="parameters" element="tns:SetLicenseKey" />
  </wsdl:message>
  <wsdl:message name="SetLicenseKeySoapOut">
    <wsdl:part name="parameters" element="tns:SetLicenseKeyResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="Login2SoapIn">
    <wsdl:part name="parameters" element="tns:Login2" />
  </wsdl:message>
  <wsdl:message name="Login2SoapOut">
    <wsdl:part name="parameters" element="tns:Login2Response" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthenticationSoap">
    <wsdl:operation name="SetLicenseKey">
      <wsdl:input message="tns:SetLicenseKeySoapIn" />
      <wsdl:output message="tns:SetLicenseKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login2">
      <wsdl:input message="tns:Login2SoapIn" />
      <wsdl:output message="tns:Login2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthenticationSoap" type="tns:AuthenticationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetLicenseKey">
      <soap:operation soapAction="http://ICAN.ir/Farzin/WebServices/SetLicenseKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://ICAN.ir/Farzin/WebServices/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login2">
      <soap:operation soapAction="http://ICAN.ir/Farzin/WebServices/Login2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://ICAN.ir/Farzin/WebServices/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthenticationSoap12" type="tns:AuthenticationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetLicenseKey">
      <soap12:operation soapAction="http://ICAN.ir/Farzin/WebServices/SetLicenseKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://ICAN.ir/Farzin/WebServices/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login2">
      <soap12:operation soapAction="http://ICAN.ir/Farzin/WebServices/Login2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://ICAN.ir/Farzin/WebServices/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Authentication">
    <wsdl:port name="AuthenticationSoap" binding="tns:AuthenticationSoap">
      <soap:address location="https://oas1.sums.ac.ir:8081/farzinsoft/webservices/OA/Authentication.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthenticationSoap12" binding="tns:AuthenticationSoap12">
      <soap12:address location="https://oas1.sums.ac.ir:8081/farzinsoft/webservices/OA/Authentication.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>